<h2>Корзина</h2>

{% for item in basket %}
    <div>
        <h3>{{ item.name }}</h3>
        <p>Цена: {{ item.price }}</p>
        <p>Кол-во: {{ item.quantity }}</p>
        <button>Удалить</button>
    </div>
{% endfor %}    